[submodule "Neat/vendor/GLFW"]
	path = Neat/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Neat/vendor/ImGui"]
	path = Neat/vendor/ImGui
	url = https://github.com/ocornut/imgui
[submodule "Neat/vendor/GoogleTest"]
	path = Neat/vendor/GoogleTest
	url = https://github.com/google/googletest.git
